* {
  box-sizing: border-box;
}

/* BODY & DIVS */
body {
  margin: 0;
  min-height: 100vh;
  background-size: 509px;
  background-image: url("film-reel.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  opacity: 97%;
  background-color: #faeccd;
}
header {
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: #b7e7e8;
  width: 100%;
  height: 100px;
}
/* main container */
.main {
  background-color: #d8eaf2;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.control_panel {
  display: flex;
  margin: 50px auto 30px;
  font-size: 1.5em;
}
#selector {
  max-width: 155px;
  font-size: 0.8em;
}
.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movieCard {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #eceeefb7;
  max-width: 350px;
  border: solid;
  border-width: thin;
  margin: 20px;
  box-shadow: 2px 4px 6px 0 rgba(108, 59, 59, 0.2);
  cursor: pointer;
}
.movieCard:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
}
/* pop up */
.popup {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  background-color: rgb(250, 248, 248);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  overflow: auto;
}
.hide {
  visibility: visible;
}
.popup h2,
p {
  margin: 15px auto;
  width: 100%;
}
/* pop up */
.popup {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  background-color: rgb(250, 248, 248);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  overflow: auto;
}
.hide {
  visibility: visible;
}
/* forms */
.movieForm {
  position: fixed;
  display: none;
  flex-direction: column;
  width: 50%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b7e7e8;
  padding: 20px;
  border: 1px solid black;
}
.searchForm {
  display: inline-block;
  margin: 25px 20px;
  height: 50px;
  width: 50em;
}
.searchbar {
  font-size: 1em;
  padding-left: 1em;
}
.searchbar {
  width: 100%;
  height: 100%;
}

/* BUTTONS */
.btn-form {
  padding: 0;
  width: fit-content;
  border-radius: 50px;
  background-color: #d8eaf2;
  border: none;
  cursor: pointer;
}
.btn-form:hover {
  background-color: #b7e7e8;
}
.btn-submit {
  width: fit-content;
  margin-top: 10px;
}
.btn-close {
  align-self: flex-end;
  border-radius: 20%;
  background-color: #b7e7e8;
}
.btn-close:hover {
  background-color: #d8eaf2;
}
.btn-form:hover,
.btn-close:hover {
  box-shadow: 2px -1px gray;
}

/* IMGS */
.logo {
  height: 50px;
  position: relative;
  top: 25px;
}
.icon-img {
  width: 2.5em;
  display: block;
}
.movieCard img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

/* OTHERS */
.movietitle {
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 15px;
  font-weight: bolder;
}
.borders {
  border-radius: 10px;
}

@media (max-width: 500px) {
  .main {
    width: 90%;
  }
  .movieForm {
    width: 90%;
  }
}
